.main {
  background-color: #7d3f98;
  display: flex;
  padding: 20px;
  width: 70%;
  margin: 20px auto;
}
.main .first {
  background-color: #371777;
  width: 35%;
  /* margin: 20px; */
  padding: 20px;
  color: white;
}
.main .first a {
  color: white;
  padding: 10px;
  display: block;
  width: 200px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}
.main .first .one {
  background-color: #1877f2;
}
.main .first .two {
  background-color: #1da1f2;
}
.main .first .three {
  background-color: #ea4335;
}
.second {
  width: 60%;
  background-color: white;
  padding: 20px;
}
.second p a {
  text-decoration: none;
  color: black;
}
.second form input {
  width: 50%;
  display: block;
  padding: 10px;
  margin: 5px;
}
.second .check {
  /* display: inline; */
  width: 100px;
  /* margin-left: -42px; */
}
.second form a {
  text-decoration: none;
  background-color: #1877f2;
  color: white;
  padding: 10px;
  display: block;
  width: 50%;
  text-decoration: none;
  margin: 10px;
  text-align: center;
}
