<div class="mb-3">
  <label for="category" class="form-label">Category: </label>
  <select class="form-control" name="category" id="category">
    <option *ngFor="let category of catList" value="">{{category.name}}</option>
  </select>
</div>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Av. Quantity</th>
      <th>Image</th>
      <th>Count</th>
      <th>Buy</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of prdList">
      <!-- Safe navigation operator -->
      <td>{{product?.id}}</td>
      <td>{{product?.name}}</td>
      <td>{{product?.price}}</td>
      <td>{{product.quantity}}</td>
      <td><img src="{{product?.imgURL}}" alt=""></td>
      <!-- Template variables -->
      <td><input #itemsCount type="number" class="form-control"></td>
      <td><button type="button" class="btn btn-secondary" (click)="buy(product.price, +itemsCount.value)">Buy</button></td>
    </tr>
  </tbody>
</table>
<hr>
<h3>Order Total Price : {{orderTotalPrice}}</h3>



<!-- <table class="table table-dark">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Av. Quantity</th>
      <th>Price</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of prdList">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.quantity}}</td>
      <td>{{product.imgURL}}</td>
      <td>{{product.categoryID}}</td>

    </tr>


  </tbody>
</table> -->
