<div class="container">
  <div class="row">
    <div class="col-md-6">
      <ng-container [ngSwitch]="product?.quantity">
        <p *ngSwitchCase="0">Out Of Stock</p>
        <p *ngSwitchCase="1">Last One Item</p>
        <p *ngSwitchCase="2">Last Two Items</p>
        <p *ngSwitchDefault>In Stock</p>
      </ng-container>
      <img class="w-50 mb-5" src="{{product?.productImg}}" alt="">
    </div>
    <div class="col-md-6">
      <h4><span [ngStyle]="{'color': '#45526e'}">Product Name :</span> {{product?.name}}</h4>
      <h4><span [ngStyle]="{'color': '#45526e'}">Product Price : </span> {{product?.price | currency}}</h4>
      <h4><span [ngStyle]="{'color': '#45526e'}">Product Material :</span> {{product?.Material}}</h4>

    </div> 
  </div>
  <button class="btn btn-secondary m-2" (click)="prevProduct()" [disabled]="product?.id == productIDs[0]">PREVIOS</button>
  <button class="btn btn-secondary me-2" (click)="nextProduct()" [disabled]="product?.id == productIDs[productIDs.length - 1]">NEXT</button>

  <button class="btn btn-primary" routerLink="/product" >BACK</button>
</div>

