// body{
//     background-color: aquamarine;
// }

// $fontColor: lightcoral;

// @mixin style{
//     font-size: 25px;
//     text-align: center;
//     border: 1px solid brown;
// }
// @mixin borderStyle($style, $color){
//     border: 2px $style $color;
// }

// .header1{
//     @include style;
//     color: $fontColor;
// }
// .header2{
//     @include borderStyle(dotted, gray);
//     color: $fontColor;
// }
// .para{
//     @include style;
//     color: $fontColor;
// }

// nav{
//     ul{
//         margin: 0;
//         padding: 10px;
//         list-style: none;
//         display: flex;

//         li{
//             a{
//             color: $fontColor;
//             text-decoration: none;
//             font-weight: bold;
//             font-size: 25px;
//             }

//              a:hover{
//                 color: black;
//             }
//         }
//     }
    
   
// }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$backGround1: #45aaf2;
$backGround2: #fa8231;
$backGround3: #0fb9b1;
$backGround4: #4b6584;
$margin: 20px;

@mixin styleContent{
    display: flex;
    margin-top: $margin;
    font-size: 20px;
}

.col-1{width: 6.25%;}
.col-2{width: 12.5%;}
.col-3{width: 18.75%;}
.col-4{width: 25%;}
.col-5{width: 31.25%;}
.col-6{width: 37.5%;}
.col-7{width: 43.75%;}
.col-8{width: 50%;}
.col-9{width: 56.25%;}
.col-10{width: 62.5%;}
.col-11{width: 68.75%;}
.col-12{width: 75%;}
.col-13{width: 81.25%;}
.col-14{width: 87.5%;}
.col-15{width: 93.75%;}
.col-16{
    width: 100%;
    margin-top: $margin;
    padding: 10px;
}
.main{
    text-align: center;
    margin: $margin;

    .content img{
    max-width: 200px;
    border-radius: 50%;
    }

    @media (max-width: 768px) and (max-width: 1023px){
        .content img{
            content: url(./team-04.png);
        }
    }

    .content h3{
        font-size: 7vh;
    }

    .education{
    background-color: $backGround1;
    }

    .achievements{
        background-color: $backGround2;
    }

    .work{
        background-color: $backGround3;
    }

    .education-content{
    @include styleContent;
    }
    .achievement-content{
        @include styleContent;
    }
    .work-content{
        @include styleContent;
    }
    .footer{
        @include styleContent;
        padding: 20px;
        background-color: $backGround4;
    }
}

.main2{
    margin-top: $margin;
    font-size: 20px;
}
.main2 nav{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.main2 nav ul{
    display: flex;
    justify-content: space-between;
}

.main2 nav ul li{
   padding-left: 20px;
}

.section{
    text-align: center;
    margin-top: $margin;
}
.span{
    display: flex;
    margin-top: $margin;
}
.span .col-5, .span2 .col-7{
    border: 1px solid black;
    margin: 5% 3%;
    padding: 3%;
}
